<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue逻辑判断相关指令</title>
    <script type="text/javascript" src="./lib/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- v-show 显示和隐藏 -->
        <h1 v-show="33 > 4">v-show:{{show_flag}}</h1>
        <h1 v-show="show_flag">v-show:{{show_flag}}</h1>
        <h1 v-show="{}">v-show:{{show_flag}}</h1>
        <!-- v-if 会根据表达式的真假，销毁或者重建元素， 和v-show 的其区别就是一个是Dom操作，一个是样式重构 -->
        <!-- 最好使用template这个虚拟节点， 这样能保证同一管理内部标签，还能不破坏原有的DOM结构 -->
        <template v-if="if_flag">
            <h1>v-if:{{if_flag}}1</h1>
            <h1>v-if:{{if_flag}}2</h1>
            <h1>v-if:{{if_flag}}3</h1>
        </template>
        <h1 v-else>v-else: {{if_flag}}4</h1>
        <!-- v-else -->
        <!-- v-else-if指令需要配合v-if使用，也可以加上v-else，逻辑和js一样 -->
        <h1 v-if="str == 'a'">1</h1>
        <h1 v-else-if="str == 'b'">2</h1>
        <h1 v-else-if=" str == 'c'">3</h1>
        <h1 v-else>4</h1>

    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                show_flag: false,
                if_flag: false,
                str: 'a'
            }
        })
    </script>
</body>
</html>